.right {
    float: right;
    height: 100%;
}


.right .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all 0.3s;
    height: 100%;
}

.right .action > i {
    font-size: 16px;
    vertical-align: middle;
    /*color: @text-color;*/
}

.ant-menu-horizontal {
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item {
    border-top: 2px solid transparent;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item:hover {
    border-top: 2px solid #1890ff;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item-active {
    border-top: 2px solid #1890ff;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item-selected {
    border-top: 2px solid #1890ff;
}

.ant-menu-horizontal > .ant-menu-item-selected{
    border-bottom: 0px;
}


.headerLogo {
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLogo img {
    width: 40px;
    margin-right: 8px;
}

.headerLogo span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
}