@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.ant-layout-header {
  background: #ffffff;
  padding: 0 50px;
  height: 65px;
  line-height: 65px;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 33, 72, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}